@media (max-width:1399px) {
    .expertimages img {
        width: 100%;
    }

    .expertTxt h3 {
        padding-right: 0;
    }

    .ExpertLeft {
        padding: 46px 60px 20px 40px;
    }

    .HighlyExperienced {
        right: 29%;
    }


    .RightExpertAssistance {
        padding-left: 80px !important;
    }

    .expertTxt h3 {
        padding-right: 0;
        padding-top: 67px;
    }

}

@media (max-width:1270px) {
    .navbar::before {
        width: 170px;
    }
}

@media (max-width:1199px) {

    .offcanvas-body {
        max-width: 606px;
    }

    .navbar::before {
        width: 220px;
    }

    .testimonial-img-lgg {
        width: 440px;
    }

    .navbar-expand-lg .navbar-nav {
        padding-top: 8px;
    }

    .topbar,
    .nav-bar {
        padding-left: 20px !important;
    }

    .banner-content {
        /* transform: translate(-35%, -50%); */
    }

    .ExpertLeft h3 {
        font-size: 36px;
        line-height: 39.92px;
    }

    .ExpertLeft ol li {
        font-size: 20px;
        line-height: 28.24px;

    }

    .expertTxt h3 {
        font-size: 36px;
        line-height: 41.92px;
    }

    .testimonialsCard {
        margin-left: 0px;
        margin-top: 20px;
    }

    .ExpertAssistance {
        padding: 80px 0;
        position: relative;
    }

    .HighlyExperienced {
        right: 22%;
    }

    .ExpertLeft {
        padding: 0;
    }

    .callTxt h2 {
        font-size: 35px;
        line-height: 36.92px;
    }

    .callTxt {
        padding-top: 20px;
    }

    .callleft::after {
        left: 35%;
    }

    .offcanvas-header .btn-close {
        /* display: none; */
        font-size: 28px;
        --bs-btn-close-bg: var(--bs-btn-close-bg);
        color: #fff !important;
    }
}

@media (max-width:991px) {
    .navbar::before {
        width: 230px;
    }

    .banner-content {
        position: absolute;
        top: 50%;
    }

    .offcanvas-header {
        background-color: var(--blue-color);
    }

    .info-section {
        background-color: #FFFFFF;
        padding: 40px 0;
        box-shadow: 0px 3px 224px 0px #00000026;
        position: relative;
        bottom: 0px;
        top: 40px;
        z-index: 99;
        border-radius: 15px;
        margin: 40px 0;
    }

    .about-section {
        padding: 120px 0;
    }

    .about-content {
        padding-top: 60px;
    }

    .gallery-carousel .gallery-img-container .imgl {
        height: 479px !important;
        width: 250px;
    }

    .gallery-carousel,
    .testimonial-section {
        padding: 60px 0px;
    }

    .airpot .tran1 {
        width: 300px;
        height: 400px;
    }

    .airpot .tran2 {
        width: 200px;
        height: 300px;
    }

    .asec {
        padding-top: 60px;
    }

    .airpot {
        background: #E9F6F9;
        padding: 140px 0 60px 0;
    }

    .gallery-carousel .gallery-img-container .imgs {
        height: 343px !important;
        width: 229px;
    }

    .topbar {
        display: none;
    }

    .navbar-expand-lg .navbar-nav {
        gap: 1px;
        padding-top: 8px;
        flex-direction: column;
    }

    .navbarBtn {
        display: none;
    }

    .navbarBtnphone {
        display: block;
        margin-top: 20px;
    }

    .nav-item {
        border-bottom: 1px solid;
    }

    .navbar::before {
        width: 250px;
    }

    .expertimages img {
        width: 100%;
    }

    .logo img {
        padding: 0;
        position: relative;
        top: 5px;
    }

    .sidebar {
        text-align: end !important;
    }

    .topsection {
        padding: 20px 0;
    }

    .hunberger {
        font-size: 25px;
        padding-top: 10px;
    }

    .nav-link {
        text-align: left;
    }

    .offcanvas-title img {
        max-width: 100px;
    }


    .banner-content p {
        font-size: 18px;
        line-height: 24.05px;
        padding-top: 5px;
    }

    .banner-content h1 {
        font-size: 56px;
        line-height: 68.48px;
    }

    .bannerBtn a {
        padding: 8px 19px;
        font-size: 14px;
        line-height: 17.16px;
    }

    .header-carousel .owl-dots .owl-dot span {
        width: 16px !important;
        height: 16px !important;
    }

    .header-carousel .owl-dots .owl-dot.active span {
        width: 16px !important;
        height: 16px !important;
    }

    .header-carousel .owl-dots,
    .header-carousel .owl-nav {
        position: absolute;
        bottom: 18px;
        z-index: 10;
        left: 45%;
    }

    .topsection {
        padding: 10px 0;
    }

    .banner-item {
        /* height: 400px; */
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .testimonial-img-lgg {
        width: 340px;
        height: 400px;
    }

    .testimonial-img {
        height: 304px !important;
        max-width: 200px !important;
    }

    .form-container {
        padding: 50px 0px 30px 0px;
    }

    .map-logo {
        width: 101px;
        top: 54px;
    }

    .owl-carousel .owl-item img {
        height: 550px;
    }

    .google-map-card {
        height: 500px;
    }

    .logo {
        border-right: unset !important;
    }

    .SustainableFuture {
        padding: 30px 0;
    }

    .ExpertLeft h3 {
        max-width: unset;
    }

    .headingService {
        padding-bottom: 20px;
    }

    .SustainableContents p {
        font-size: 18px;
        line-height: 24.24px;
        padding-top: 10px;
    }

    .RightExpertAssistance {
        background-color: rgba(34, 42, 65, 1);
        padding: 30px !important;
        margin-top: 10px;
    }

    .expertTxt h3 {
        padding-top: 0;
        text-align: center;
        padding-bottom: 10px;
    }

    .ExpertLeft ol li,
    .MissionSection p {
        font-size: 18px;
        line-height: 26.24px;
    }

    .ExpertAssistance {
        padding: 60px 0;
    }

    .iconExpertleft {
        text-align: center;
    }

    .expertTxt {
        padding: 0 !important;
        margin-top: 100px;
    }

    .expertTxt h3 {
        padding: 0px 0px 20px 0px;
    }

    .MissionSection img {
        height: 400px;
    }

    .MissionSection p {
        padding: 6px 0;
    }

    .expert-section {
        padding: 40px 0px 40px 0px;
    }

    .domainsTxt {
        padding-bottom: unset;
        padding-top: 100px;
    }

    .ExpertLeft2 {
        margin-top: 100px !important;
    }

    .iconExpert {
        left: 10%;
        top: 7%;
    }

    .HighlyExperienced {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, 88%);
        bottom: unset;
        padding: 30px 30px 20px 30px;
    }

    .HighlyExperienced p {
        text-align: left;
    }

    .expertRight,
    .servicetextright {
        padding-left: unset;
    }

    .imghilhligh {
        padding-top: 30px;
        height: 500px;
    }

    .OurServices-Section {
        padding: 0px 0px 30px 0px;
    }

    .OurServicesleft {
        width: 100% !important;
    }

    .OurServicesImg {
        max-width: unset;
        height: auto;
    }

    .HighlightingTxt h2 {
        padding-top: 20px;
    }

    .callTxt h2 {
        font-size: 27px;
        line-height: 28.92px;
    }

    .qualificationSection {
        padding: 30px 0;
    }

    .footer-top {
        text-align: center;
    }

    .newsletter-input {
        justify-content: center;
        max-width: 340px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .footer-top h5 {
        padding-top: 35px;
    }

    .qualificationSection .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .qualificationSection .col-lg-4 {
        width: 48%;
        display: flex;
        justify-content: center;
    }

    .qualificationSection .col-lg-4:nth-child(3) {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 26px;
    }

    .contactusSection {
        padding-top: 30px;
    }

    .contactusImg img {
        height: 400px;
    }

    .formBox {
        max-width: 444px;
        padding: 20px;
        margin: 0 auto;
    }

    .submit-btn {
        width: 100%;
        max-width: 100% !important;
    }

    .callLeft2 {
        display: block;
        height: 90px;
    }

    .callLeft1 {
        /* display: none; */
    }

    .callTxt h2 {
        font-size: 24px;
        line-height: 19.92px;
    }

    .callUs.col-7 {
        width: 33% !important;
    }

    .ptt {
        /* padding: 0 !important; */
    }

    .serviceimg {
        height: 400px;
        margin: 0 auto;
    }

    .contactus-section {
        padding: 0;
    }

    .callTxt {
        padding-top: 10px;
    }

    .callTxt h2 {
        margin: 0;
    }

    .HighlyExperienced {
        right: 21%;
        top: 71%;
    }

    .callleft::after {
        width: 335px;
    }

    .cta-two__img-and-content {
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .cta-two__btn-box {
        justify-content: center;
    }

    .booknowsection {
        padding: 120px 0 60px 0 !important;
    }
    .columnr{
        flex-direction: column-reverse !important;
    }
    .listservice li{
        justify-content: center;
    }
    .listservice{
        padding-top: 20px;
    }
}

@media (max-width:768px) {
    .owl-carousel .owl-item img {
        height: 750px;
    }

    .cta-two__inner {
        padding: 30px 33px 30px;
        padding-right: 33px;
    }

    .cta-two__title {
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
    }

    .search-option .subtitle {
        text-align: center;
    }

    .search-box {
        text-align: center;
    }

    .search-option div {
        justify-content: center;
    }

    .about-section {
        text-align: center;
    }

    .shape-img {
        width: 200px;
        object-fit: cover;
        margin: 0 auto;
    }

    .description,
    .testimonial-img {
        margin: 0 auto;
    }

    .features {
        margin-top: 30px;
    }

    .about-person {
        position: unset;
    }

    .gallery-carousel .gallery-img-container .imgl {
        height: 500px !important;
    }

    .google-map-card {
        height: 400px;
    }

    .feature {
        text-align: left;
        justify-content: center;
    }

    .person-bg img {
        padding-top: 50px;
    }

    .about-section {
        padding: 120px 0 60px 0px;
    }

    .testimonial-img-lg,
    .card-img img {
        width: 100%;
    }

    .asec {
        padding-top: 60px;
        padding-left: 15px;
    }

    .asec p {
        padding-bottom: 20px !important;
    }

    .testimonial-section .row {
        padding: 0px !important;
        gap: 20px;
    }

    .services-section,
    .about3 {
        padding: 40px 0;
    }



    .form-container {
        padding: 0px 10px;
    }

    .contact-form .input-group {
        flex-direction: column;
    }

    .banner-item {
        /* height: 350px; */
    }

    .logo {
        padding: 0 !important;
    }

    .airpot {
        text-align: center;
    }

    .topsection {
        padding-left: 10px;
    }

    .callleft::after {
        width: 250px;
    }

    /* .qualification-item {
        height: 100%;
    } */
    .HighlyExperienced {
        right: 8%;
        top: 71%;
    }

    .MissionSection p {
        padding: 0px 0;
    }

    .MissionSection img {
        height: 350px;
    }

    .MissionSection p {
        font-size: 18px;
        line-height: 22.24px;

    }

    .MissionContent {
        left: 36%;
        transform: translate(-27%, -50%);
    }

    .imghilhligh {
        height: 350px;
    }

    .custom-prev-icon {
        left: 0;
    }

    .qualificationSection .row {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .qualificationSection .col-lg-4 {
        width: 100%;
    }

    .iconExpert {
        left: -5%;
        top: 7%;
    }

    .custom-prev-icon,
    .custom-next-icon {
        display: none;
    }

    .title {
        font-size: 32px;
        line-height: 43px;

    }

    .subscribe-section h2 {
        font-size: 30px;
        line-height: 46px;

    }

    .flip-card-face p {
        font-size: 14px;
        line-height: 17px;

    }

    .subscribe-section {
        padding: 60px 20px;

    }
  .serviceimg {
        height: 300px;
        margin: 0 auto;
    }
    .taxi-info-section {
        padding-top: 60px;
    }

    .area-card h4 {
        font-size: 28px;
    }

    .area-card-section {
        padding: 60px 0;
    }
}

@media (max-width:576px) {
    .airpot .tran1 {
        width: 300px;
        height: 400px;
    }

    .airpot .col-lg-7 {
        display: flex;
        flex-direction: column;
    }

    .cta-two__btn-box {
        flex-direction: column;
    }

    .banner-content p,
    .cta-two__text {
        font-size: 16px;
        line-height: 19.05px;
        padding-top: 0px;
    }

    .iconExpert {
        display: none;
    }

    .banner-content h1,
    .MissionSection h3,
    .MissionSection h3 {
        font-size: 28px;
        line-height: 28.48px;
    }

    .banner-content p {
        font-size: 14px;
        line-height: 18.05px;
        padding-top: 0px;
    }

    .banner-item {
        height: 600px;
    }

    .callleft::after {
        width: 200px;
    }

    .bannerBtn2 {
        padding-top: 10px;
    }

    .testimonial-img {
        left: 35%;
    }

    .hunberger {
        font-size: 25px;
        padding-top: 6px;
    }

    .testimonialsCard {
        padding: 30px 30px 30px 40px;
    }

    .navbar::before {
        width: 140px;
    }

    .contactusImg img {
        height: 350px;
    }

    .footer-links ul li a,
    .footer-links ul li a {
        padding-top: 0;
    }

    .ExpertAssistance {
        padding: 30px 0;
    }

    .box4 {
        margin-top: 30px !important;
    }

    .blog-section-one {
        padding: 30px 0;
    }

    .ExpertLeft2 {
        margin-top: 71px !important;
    }

    .OurServices-Section {
        padding: 0px 0px 0px 0px;
    }

    .banner-content {
        padding-right: 20px;
    }

    .contact-form_one,
    .contact-one_info {
        padding: 40px 0 0 0;
    }

    .map-one iframe {
        margin-top: 50px;
    }
}

@media (max-width:480px) {

    .header-carousel .owl-dots,
    .header-carousel .owl-nav {
        position: absolute;
        bottom: 18px;
        z-index: 10;
        left: 40%;
    }

    .info-item h3 {
        font-size: 20px;
        line-height: 15px;
    }

    .bannerContent .titletext {
        font-size: 32px;
    }

    .breadcrumbs-custom-path li a {
        font-size: 18px;
    }

    .breadcrumbs-custom-path li {
        font-size: 18px;
    }

    .aboutBanner {
        height: 250px;
    }

    .testimonial-img {
        left: 30%;
    }

    .blog-image img {
        height: 250px;
    }

    .search-option .title {
        font-size: 20px;
        line-height: 27px;
    }
    .s1 {
        padding-bottom: 0px !important;
    }
    .area-card-section {
        padding: 30px 0;
    }

    .headerBtn {
        background-color: var(--brand-color);
        padding: 5px 10px;
        border-radius: 10px;
    }

    .subscribe-form button {
        padding: 10px 25px
    }

    .contfleet {
        padding: 35px 10px;

    }

    .subscribe-form input {
        padding: 0 0 0 10px !important;
    }

    .taxi-info-section {
        padding-top: 30px;
    }

    .navbar::before {
        width: 124px;
    }  .serviceimg {
        height: 250px;
        margin: 0 auto;
    }

    .subscribe-section h2 {
        margin-bottom: 20px;
    }

    .footer {
        background-color: #043b5c;
        color: white;
        padding: 20px 0px 5px 0px;
    }

    .title,
    .subscribe-section h2 {
        font-size: 24px;
        line-height: 28px;
    }

    .gallery-carousel .gallery-img-container .imgl {
        height: 300px !important;
    }

    .testimonial-section {
        padding-bottom: 0 !important;
    }

    .contact-section {
        position: relative;
        padding: 30px 10px;
    }

    .card-img {
        height: 201px;
    }

    .google-map-card {
        height: 300px;
    }

    .map-logo {
        width: 50px;
        top: 54px;
    }

    .gallery-carousel .owl-stage {
        padding-bottom: 0px !important;
        gap: 0px;
    }

    .gallery-carousel,
    .testimonial-section {
        padding: 30px 0px;
    }

    .card-content h4,
    .price,
    .testimonial-section h6 {
        font-size: 15px;
        line-height: 27px;

    }

    .testimonial-img-lgg {
        width: 250px;
        height: 300px;
    }

    .testimonial-img {
        height: 204px !important;
        max-width: 150px !important;
    }

    .star-rating {
        color: #F4B46A;
        font-size: 1.8rem;
        padding-top: 0px;
        margin: 0 !important;
    }

    .testimonial-section p {
        margin: 0;
    }

    .card-footer {
        margin-top: 0;
    }

    .search-option i {
        color: #0055a5;
        font-size: 11px;
    }

    .info-item {
        flex: 1;
        padding: 8px;

    }

    .testimonial- .info-box {
        gap: 0;
    }

    .info-section {
        margin: 0px 0px 40px 0px;
    }

    .banner-content h1 {
        font-size: 24px;
        line-height: 32px;
    }


    .RenewabletxtContainer {
        gap: 10px;
    }

    .ConstructionTxt {
        padding-top: 10px;
    }

    .headingService {
        padding-bottom: 10px;
    }

    .MissionSection p {
        font-size: 16px;
        line-height: 19px;
    }

    .expertTxt h3 {
        padding: 0px 0px 10px 0px;
    }

    .MissionContent {
        left: 35%;
        transform: translate(-27%, -50%);
    }

    .HighlyExperienced {
        padding: 10px 20px 5px 20px;
        transform: translate(-50%, 120%);
    }

    .topsection {
        padding: 5px 0;
        padding-left: 5px;
    }

    .hunberger {
        font-size: 19px;
        padding-top: 6px;
    }

    .logo img {
        top: 0;
    }

    .HighlyExperienced {
        right: 0;
        top: 75%;
    }

    .banner-content {
        position: absolute;
        top: 45%;
    }
}