@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --brand-color: #0D4671;
    --arrow-color: rgba(184, 212, 50, 1);
    --white-color: #FFFFFF;
    --primary-font: "Inter", sans-serif;
    --secondry-font: "Montserrat", sans-serif;
    --third-font: "Lato", sans-serif;
    --black-color: #000000;
    --blue-color: #17295f;

}

/* =================== topbar ================== */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    /* background-color: #f8f8f8; */
    padding: 8px 20px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}

.topbar-left span {
    margin-right: 15px;
    color: #555;
}

.divider {
    margin: 0 8px;
    color: #aaa;
}

.topbar-right a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.topbar-right a i {
    margin-left: 4px;
    font-size: 12px;
}

.topbar i {
    margin-right: 5px;
    color: #888;
}

/* ================= end topbar =============== */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

/* Sticky styles after scrolling */
.main-header.sticky {
    position: fixed;
    z-index: 1000;
    padding-bottom: unset;
    padding-top: 5px;
    width: 100%;
    top: -2%;
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
}

.main-header.sticky {
    background-color: #fff;
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05) !important;
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
}



.navbar {
    /* padding: 0 !important; */
}

.navbar-expand-lg .offcanvas .offcanvas-body {
    justify-content: start !important;
    margin-right: 40px;
}

.navbar-nav li a {
    font-family: var(--primary-font) !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 160% !important;
    color: var(--brand-color) !important;
    text-decoration: none !important;
    text-transform: capitalize;
    transition: all .5s !important;
    color: var(--black-color) !important;
}

.navbar-expand-lg .navbar-nav {
    gap: 10px;
    padding-left: 20px;
}

.navbar-nav li a:hover {
    color: var(--brand-color) !important;
    font-weight: 500 !important;
    overflow-x: hidden !important;
}

.navbar-toggler i {
    color: black;
    font-size: 28px;
}

.offcanvas-header .btn-close {
    border: 1px solid var(--gray-color);
}



/* ====================== header =============================== */
.logoheader {
    width: 99px;
    /* background-color: var(--blue-color); */
}

/* ------ headerBtn----- */
.headerBtn svg {
    width: 15px;
    fill: var(--white-color);
    transform: rotate(-45deg);
}

.headerBtn {
    background-color: var(--brand-color);
    padding: 5px 20px;
    border-radius: 10px;
}

.headerBtn a {
    color: var(--white-color);
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--white-color);
    text-decoration: none;
    border-radius: 10px;
}

.arrowbutton {
    padding-left: 10px;
}

.navbarBtnphone {
    display: none;
}

.offcanvas-header .btn-close {
    color: var(--white-color) !important;
}

/* ============= hover btn css ======== */
.headerBtn {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 2px solid transparent;
    transition: border 0.4s ease;
}

.headerBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    transform: translateX(-50%);
    transition: width 0.4s ease;
}

.headerBtn:hover::before {
    width: 100%;
}

.headerBtn:hover {
    border: 2px solid var(--brand-color);
    cursor: pointer;
}

.headerBtn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
    transition: color 0.4s ease;
}

.headerBtn:hover a {
    color: #000;
}

/* ================ nav  hover =================== */
.nav-link {
    position: relative;
    display: inline-block;
    color: #000;
    text-decoration: none;
    z-index: 1;
    padding-bottom: 0;
    overflow: hidden;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: #000;
    z-index: 0;
}

.nav-link:hover::after {
    animation: underline-sweep 0.6s ease-in-out 2;
    background-color: var(--brand-color);
}

@keyframes underline-sweep {
    0% {
        width: 0;
        left: 0;
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

.footer_wrapper .link_bx ul li a {
    position: relative;
    /* display: inline-block; */
    color: #000;
    text-decoration: none;
    z-index: 1;
    padding-bottom: 3px;
    overflow: hidden;
    transition: color 0.3s ease, font-weight 0.3s ease;

}

.main-contact a:hover {
    color: var(--brand-color) !important;
    font-weight: 500 !important;
}

.main-contact a {
    transition: color 0.3s ease !important;
}

.link_bx ul li a:hover {
    color: var(--brand-color) !important;
    font-weight: 500 !important;
}

.footer_wrapper .link_bx ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: #000;
    z-index: 0;
}

.footer_wrapper .link_bx ul li a:hover::after {
    animation: underline-sweep 0.6s ease-in-out 2;
    background-color: var(--brand-color);
}

@keyframes underline-sweep {
    0% {
        width: 0;
        left: 0;
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

.main-contact a {
    position: relative;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    overflow: hidden;
}

.main-contact a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: #000;
    z-index: 0;
    transition: width 0.3s ease;

}

.main-contact a:hover::after {
    width: 100%;
    background-color: var(--brand-color);

}

@keyframes underline-sweep {
    0% {
        width: 0;
        left: 0;
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

/* ------------------------------ banner section ------------------------ */

.banner-section {
    position: relative;
    width: 100%;
    /* height: 690px;
    overflow: hidden; */
}

.header-carousel .owl-dots,
.header-carousel .owl-nav {
    position: absolute;
    bottom: 40px;
    z-index: 10;
    left: 45%;
}

.header-carousel .owl-dots .owl-dot.active span {
    width: 21px !important;
    height: 21px !important;
    flex-shrink: 0;
    background: var(--white-color) !important;
    padding: 0 !important;
    border-radius: 50px !important;
}

.header-carousel .owl-dots .owl-dot span {
    width: 21px !important;
    height: 21px !important;
    flex-shrink: 0;
    padding: 0 !important;
    border-radius: 50px !important;
    border: 2px solid var(--white-color) !important;
    background: transparent !important;
}

.banner-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar {
    position: relative;
}

.navbar::before {
    content: "";
    background-color: var(--brand-color);
    height: 100%;
    width: 16%;
    position: absolute;
    left: 0;
    z-index: -1;
    border-radius: 0px 56px 0px 0px;
}

.banner-content {
    position: absolute;
    top: 35%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    padding-left: 20px;
    z-index: 12;
}

.banner-content .container {
    text-align: left;
}



.small-text {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 17.64px;
    color: var(--white-color);
}

.description {
    font-size: 16px;
    margin: 10px 0;
}

.banner-content h1 {
    font-family: var(--secondry-color);
    font-weight: 600;
    font-style: SemiBold;
    font-size: 90px;
    line-height: 104px;
    text-align: center;
    color: var(--white-color);
}

.banner-content p {
    font-family: var(--third-font);
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--white-color);
    padding-top: 5px;
}

.bannerBtn a {
    display: inline-block;
    padding: 10px 35px;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.3s;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 20.16px;
    text-align: center;
    color: var(--white-color);
    border: 1px solid var(--white-color);
}

.bannerBtn2 {
    padding-top: 20px;
}

.bannerBtn a:hover {
    border: 1px solid var(--white-color);
    background: var(--white-color);
    color: var(--brand-color);
}

/* ==================== serach banner box ================== */
.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: auto;
    font-family: 'Segoe UI', sans-serif;
}

.bannercontents2 {
    background: #AEAEAE26;
    padding: 20px;
    border-radius: 15px;
}

.search-option {
    display: flex;
    /* flex-direction: column; */
    padding: 0 10px;
    flex: 1;
    gap: 10px;
}

.search-option i {
    color: #0055a5;
    font-size: 12px;
    position: relative;
    top: 5px;
}

.search-option .title {
    font-weight: 600;
    color: #222;
    font-size: 15px;
}

.search-option .title i {
    font-size: 12px;
    margin-left: 5px;
    color: #555;
    position: relative;
    top: 0px;
}

.search-option .subtitle {
    font-size: 13px;
    color: #888;
    margin-top: 5px;
    text-align: left;
}

.divider {
    width: 1px;
    height: 40px;
    background: #ddd;
}

.explore-btn {
    background-color: #0d3d72;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    margin-left: 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.explore-btn:hover {
    background-color: #072b52;
}

/* Responsive */
@media (max-width: 768px) {
    .search-box {
        flex-direction: column;
        align-items: stretch;
        gap: 15px;
    }

    .divider {
        display: none;
    }

    .explore-btn {
        width: 100%;
    }
}

/* --------------------------- SustainableFuture--------------------------- */
.SustainableFuture {
    padding: 60px 0;
    background-color: var(--secondry-color);
}

.SustainableContents h2 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 32px;
    line-height: 40.32px;
    color: var(--black-color);
}

.SustainableContents p {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 24px;
    line-height: 30.24px;
    color: var(--grey-color);
    padding-top: 10px;
}

.futuresBtn a {
    border: 1px solid var(--brand-color) !important;
    color: var(--brand-color);
}

.iconExpertleft {
    position: relative;
}

/* =========================== ExpertAssistance ====================== */
.ExpertAssistance {
    padding: 80px 0;
    position: relative;
}

.ExpertLeft {
    padding: 60px 60px 80px 40px;
    background-color: var(--black2-color);
}

.expertTxt h3 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 42px;
    line-height: 52.92px;
    text-align: right;
    color: var(--black-color);
    padding: 30px 0px 0px 30px;
    padding-right: 72px;
}

.ExpertLeft h3 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 42px;
    line-height: 52.92px;
    color: var(--white-color);
    max-width: 381px;
}

.expertBtn {
    padding-top: 20px;
}

.ExpertLeft ol li {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: var(--white-color);
    padding-bottom: 10px;
}

.ExpertLeft ol {
    padding-top: 20px;
}

/* =========================== .MissionSection ========================= */
.MissionSection h3 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 32px;
    line-height: 40.32px;
    color: var(--white-color);
    text-align: center;
}

.MissionSection {
    position: sticky;
    top: 0;
    z-index: -1;
}

.MissionSection img {
    height: 550px;
}

.MissionSection p {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: var(--white-color);
    text-align: center;
    padding: 30px 0;
}

.Missioncontainer {
    /* padding: 60px 0; */
    position: relative;
}

.MissionContent {
    max-width: 946px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.missionBtn a {
    border: unset !important;
}

.nexticon {
    padding-left: 8px;
}

/* ======================= expert-section ======================= */
.expert-section {
    padding: 80px 0px 120px 0px;
    background-color: var(--white-color);
}

.HighlyExperienced {
    position: absolute;
    background-color: rgba(34, 42, 65, 1);
    bottom: -60px;
    right: 39%;
    padding: 50px 50px 30px 30px;
}

.HighlyExperienced h2 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 25.2px;
    color: var(--white-color);
    max-width: 128px;
    text-align: left;
}

.HighlyExperienced p {
    font-family: var(--secondry-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    color: var(--white-color);
    padding-top: 10px;
}

.iconExpert {
    position: absolute;
    left: -12%;
    top: 7%;
}

.RenewabletxtContainer strong {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 42px;
    line-height: 52.92px;
    color: rgba(0, 122, 187, 1);
}

.Renewabletxt p {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 25.2px;
    color: var(--black-color);
    max-width: 240px;
}

.RenewabletxtContainer {
    display: flex;
    gap: 20px;
}

.domainsTxt {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 17.64px;
    letter-spacing: 0%;
    color: rgba(33, 111, 102, 1);
    padding-bottom: 60px;
}

.expertRight {
    padding-left: 50px;
}

.ConstructionTxt {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 25.2px;
    color: var(--grey-color);
    padding-top: 30px;
    max-width: 635px;
}

.Service_btn a {
    color: rgba(46, 46, 46, 1) !important;
    text-align: left !important;
    padding-left: unset !important;
}

.Service_btn a:hover {
    background-color: var(--brand-color);
    color: var(--white-color) !important;
    padding-left: 25px !important;
}

/* =============================== HighlightingSection =============================== */
.HighlightingTxt h2 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 28px;
    line-height: 35.28px;
    color: var(--black-color);
}

.HighlightingTxh2 {
    max-width: 324px;
}

.HighlightingSection {
    background-color: var(--white-color);
}

.HighlightingTxt p {
    font-family: var(--secondry-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 24.2px;
    color: var(--grey-color);
    padding-top: 20px;
}

.HighlightingBtn a:hover {
    background-color: var(--brand-color);
    color: var(--white-color);
}

.HighlightingBtn {
    padding-top: 10px;
}

.HighlightingTxtp {
    max-width: 542px;
}

.HighlightingImg {
    position: relative;
}

.imghilhligh {
    width: 100%;
}

.imghilhlighIcon {
    position: absolute;
    bottom: 0;
    left: -12%;
}

/* =============================== OurServices-Section =========================== */
.OurServices-Section {
    /* background-color: var(--white-color); */
    padding: 60px 0;
}

.OurServicesImg {
    position: relative;
    width: 100%;
    height: 580px;
    overflow: hidden;
    max-width: 511px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.serviceImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: filter 0.4s ease-in-out;
}

.OurServicesImg:hover .serviceImg {
    filter: blur(2px);
}

.OurServicesImg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(36, 33, 33, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    z-index: 1;
}

.EnergyText {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 31.98px;
    line-height: 40.29px;
    color: var(--white-color);
    text-align: center;
    margin: 0 auto;
    z-index: 2;
}



.EnergyText {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 31.98px;
    line-height: 40.29px;
    color: var(--white-color);
    text-align: center;
    margin: 0 auto;
}



.OurServicesImg {
    position: relative;
}

.headingService {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 42px;
    line-height: 52.92px;
    color: var(--black-color);
    padding-bottom: 40px;
}

.servicetextright {
    padding-left: 80px;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 750px;
    object-fit: fill;
    /* position: relative; */
}

.bannercontents {
    padding: 12px;
    border-radius: 12px;
}

/* ==================================== TestimonialsSection ====================== */
.TestimonialsSection {
    background-color: var(--white-color);
    /* padding: 60px 0;  */
    padding-bottom: 60px;
}

.testimonialsh2 {
    max-width: 426px;
}

.testimonialsBottom img {
    width: 63px;
    height: 63px;
    border-width: 4px;
    border-radius: 100px;
    border: 4px solid var(--white-color);
}

.testimonialsCard {
    background: rgba(13, 23, 42, 1);
    padding: 60px 60px 60px 80px;
}

.testimonialsCard {
    max-width: 763px;
}

.testimonialsTop h2 {
    font-family: var(--secondry-font);
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
    line-height: 36.31px;
    color: var(--white-color);
    max-width: 508px;
}

.testimonialsCard {
    margin-left: 80px;
}

.testimonialsBottom {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.testimonialsBottom h3 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 22.68px;
    color: var(--white-color);
}

.testimonialsBottom p {
    font-family: var(--secondry-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    color: var(--white-color);
    margin: 0;
}

/* ============================= qualificationSection ================= */
.qualificationSection {
    /* background-color: var(--white-color); */
    padding: 40px 0;
}

.qualificationCarousel {
    width: 100%;
    position: relative;
}

.qualification-item {
    /* height: 564px; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.qualification-item h2 {
    color: var(--black-color);
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 19.4px;
    line-height: 24.45px;
    padding-top: 10px;
}

.qualification-item img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}


.qualificationCarousel .owl-dots .owl-dot.active span {
    width: 197px !important;
    height: 12px !important;
    flex-shrink: 0;
    background: var(--black-color) !important;
    padding: 0 !important;
}

.qualificationCarousel .owl-dots .owl-dot span {
    width: 197px !important;
    height: 12px !important;
    flex-shrink: 0;
    padding: 0 !important;
    border-radius: unset !important;
    border: 2px solid rgba(13, 23, 42, 1) !important;
    background: var(--white-color) !important;

}

.qualificationCarousel .owl-dots .owl-dot span {
    margin: unset !important;
}


.qualificationCarousel .owl-dots,
.qualificationCarousel .owl-nav {
    padding-top: 10px;
}

.custom-prev-icon {
    position: absolute;
    left: -49px;
    top: 39%;
    border: 2px solid var(--black-color);
    border-radius: 50px;
    padding: 5px 2px;
}

.custom-next-icon {
    position: absolute;
    right: -25px;
    top: 39%;
    border: 2px solid var(--black-color);
    border-radius: 50px;
    padding: 5px 2px;
    transform: rotate(180deg);
}

.testimonilasright {
    padding-left: unset !important;
}

/* =========================== contactusRight ======================= */
.contactusRight {
    background-color: rgba(13, 23, 42, 1);
    height: 100%;
    width: 100%;
}

.contactusImg img {
    width: 100%;
}

.contactusSection .col-lg-6 {
    padding: 0;
}

.callLeft2 {
    display: none;
}

.callUs {
    position: relative;
}

.contactusSection {
    position: relative;
    padding-top: 60px;
}

.callleft::after {
    content: " ";
    position: absolute;
    height: 50px;
    width: 435px;
    border: 2px solid var(--grey-color);
    left: 43%;
    bottom: -22px;
    z-index: -1;
}


.form-label {
    color: var(--white-color);
}

.contactText h2,
.contactText h3,
.contactText p {
    color: var(--white-color) !important;
    font-family: var(--poppins-font) !important;

}

.contactText h3 {}

/* ======================= news section ======================== */
/* News Section */
.news-section {
    background-color: #f8f9fa;
}

/* News Item */
.news-item {
    /* border-radius: 8px; */
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

/* Image Container */
.img-container {
    overflow: hidden;
    /* border-radius: 8px; */
}

/* Image Styling */
.news-item img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.news-item:hover img {
    transform: scale(1.05);
}

/* Category Labels */
.category {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.investment {
    color: #007bff;
}

.business {
    color: #28a745;
}

.finance {
    color: #dc3545;
}

/* Headings */
.news-item h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #333;
}

/* Description */
.description {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}

.formBoxcontainer {
    background-color: rgba(13, 23, 42, 1);
    padding: 20px 0;
}

.formBox {
    max-width: 500px;
    padding: 40px 0px 40px 80px;
}

.contactText h2 {
    color: var(--white-color) !important;
    padding-bottom: 20px !important;
}

.formBox form {
    border: 1.5px solid rgba(255, 211, 211, 1);
    max-width: 531px;
    padding: 15px;
}

.form-control {
    background-color: unset !important;
    border: 1.5px solid rgba(255, 211, 211, 1) !important;
    border-radius: unset !important;
    margin-bottom: 10px;
    color: var(--white-color) !important;
}

.submit-btn {
    margin-top: 20px;
    border-radius: unset !important;
    border: 1px solid rgba(255, 255, 255, 1) !important;
    max-width: 289px !important;
}

.form-control::placeholder {
    color: var(--white-color) !important;
    font-family: var(--secondry-font) !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 14.52px !important;
}

.form-control:focus::placeholder {
    color: #aaa;
    opacity: 0.7;
}

.form-label {
    font-family: var(--secondry-font) !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    color: var(--white-color) !important;
}

.contactusImg {
    height: 100%;
    display: flex;
}

.contactusImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ==============================call me =============== */
.callleft img,
.callright img {
    width: 100%;
    z-index: -1;
    position: relative;
}

.callTxt {
    text-align: left;
    padding-left: 30px;
    padding-top: 25px;
}

.callTxt h3 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 17.64px;
    color: var(--black-color);
}

.callTxt h2 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 42px;
    line-height: 52.92px;
    color: var(--black-color);
}

.callright {
    height: 25px;
}


/* =======================footer--====================== */
.footer-top {
    background-color: rgba(46, 46, 46, 1);
    padding: 40px 0;
}

.newslatter {
    padding-top: 40px;
}

.footer-top h5 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 17.64px;
    color: var(--white-color);
}

.footer-links ul,
.footer-links ul {
    margin: 0 !important;
    padding-left: 0 !important;
}

.footer-contact p a {
    color: var(--white-color);
    text-decoration: none;
    padding-left: 10px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 17.64px;
}

.footer-contact {
    padding-top: 10px;
}

.footer-contact p a:hover {
    text-decoration: underline;
}

.privacytxt {
    border-right: 2px solid var(--white-color);
    padding-right: 20px;
}

.POLICYtxt {
    padding-left: 13px;
}

.footer-contact p i {
    color: rgba(0, 122, 187, 1);
}

.footer-links ul li,
.footer-links ul li {
    list-style: none;
}

.footer-links ul li a,
.footer-links ul li a {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    color: var(--white-color);
    padding-top: 10px;
}

.social-icons {
    padding-top: 10px;
}

.footer-logo img {
    max-width: 180px;
}

.footer-bottom {
    background-color: var(--black2-color);
    color: var(--white-color);
    padding: 25px 0px 5px 0px;
    text-align: center;
}

.newsletter-input {
    display: flex;
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
    background: #fff;
}

.newsletter-input input {
    flex: 1;
    padding: 8px;
    border: none;
}

.newsletter-input button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-icons a {
    color: white;
    margin-right: 10px;
    font-size: 20px;
    padding: 1px 5px 1px 5px;
    background-color: var(--white-color);
    border-radius: 50px;
}

#linkdin {
    padding: 1px 6px 1px 6px !important;
}

.social-icons a i {
    color: rgba(0, 122, 187, 1);
}

.footer-bottom p,
.footer-bottom a {
    font-family: DM Sans;
    font-weight: 600;
    font-size: 12px;
    line-height: 26.97px;
    color: var(--white-color);
}

.footer-bottom a {
    text-decoration: none;
}

/* ===============================================================================
------------------------contact us section ---------------------------------------
===================================================================================*/
.aboutBanner {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
}

/* Background Image */
.aboutbannerImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.aboutbannerImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Black Overlay */
.aboutbannerImg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}


/* Content */
.bannerContent {
    position: relative;
    z-index: 2;
}

.bannerContent .title {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: var(--primary-font);
    color: var(--white-color);
}

/* Breadcrumbs */
.breadcrumbs-custom-path {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.breadcrumbs-custom-path li {
    display: inline-block;
    color: var(--white-color);
}

.breadcrumbs-custom-path li a {
    color: var(--brand-color);
    text-decoration: none;
    transition: 0.3s;
}

.breadcrumbs-custom-path li a:hover {
    text-decoration: underline;
}

/* Arrow Icon */
.breadcrumbs-custom-path li span {
    color: var(--white-color);
}

.contactus-detailsp {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: var(--black-color);
}

/* Contact Us Section */
.contactus-section {
    padding: 50px 0;
    background: #ffffff;
}

/* Left Side - Contact Info */
.contactus-info {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
}

.contactus-title {
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

.contactus-line {
    width: 100%;
    height: 2px;
    background: #000;
    margin: 10px 0;
}

.contactus-details p {
    color: var(--black-color);
    font-family: var(--poppins-font) !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.addrestext a {
    color: var(--black-color);
    font-family: var(--primary-font) !important;
    font-weight: 500;
    font-size: 20px !important;
    line-height: 28px;
    padding-left: 50px;
    text-decoration: none;
}

.addrestext a:hover {
    text-decoration: underline !important;
}

.contactus-details p span {
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
}

.iconContact {
    position: relative;
}

.iconContactImg {
    position: absolute;
    left: 63%;
    top: 50%;
}

.contactus-details i {
    color: var(--white-color);
    margin-right: 10px;
    background-color: var(--brand-color) !important;
    padding: 12px 13px;
    border-radius: 5px;
}

.contactus-details p br {
    padding-left: 20px;
}

.addressContact {
    padding: 12px 15px !important;
}

/* Right Side - Contact Form */
.contactus-form {
    background: var(--brand-color);
    padding: 30px;
    border-radius: 10px;
}

.todayTxt {
    color: var(--brand-color);
}

.contactus-form h4 {
    font-weight: bold;
    font-family: var(--primary-font);
    color: var(--white-color);
    border-bottom: 5px solid var(--white-color);
    max-width: max-content;
    margin: 0 auto;
}

.submit-btn {
    border: 2px solid var(--white-color) !important;
    font-family: var(--primary-font) !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 20.16px;
    text-align: center;
    color: var(--white-color) !important;
}

.submit-btn:hover {
    background-color: var(--white-color) !important;
    color: var(--black-color) !important;

}

.contactus-form p {
    font-size: 16px;
    margin-bottom: 20px;
}

.contactus-form input,
.contactus-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

/* Submit Button */
.contactus-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.contactus-btn:hover {
    background: #b52b3a;
}

/* Full-Width Map */
.contactus-map {
    width: 100%;
    height: 400px;
}

.contactus-map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.contactMap {
    background-color: var(--white-color);
    padding: 60px 0;
}

.contactus-info h2 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 38px;
    line-height: 50px;
    text-align: left;
    color: var(--black-color);
}

/* Responsive */
@media (max-width: 768px) {

    .contactus-info,
    .contactus-form {
        margin-bottom: 20px;
    }
}