@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --brand-color: #0D4671;
    --arrow-color: rgba(184, 212, 50, 1);
    --white-color: #FFFFFF;
    --primary-font: "Inter", sans-serif;
    --secondry-font: "Montserrat", sans-serif;
    --third-font: "Lato", sans-serif;
    --black-color: #000000;
    --blue-color: #17295f;

}

/* =================== topbar ================== */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    /* background-color: #f8f8f8; */
    padding: 8px 20px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}

.topbar-left span {
    margin-right: 15px;
    color: #555;
}

.divider {
    margin: 0 8px;
    color: #aaa;
}

.topbar-right a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.topbar-right a i {
    margin-left: 4px;
    font-size: 12px;
}

.topbar i {
    margin-right: 5px;
    color: #888;
}

/* ================= end topbar =============== */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

/* Sticky styles after scrolling */
.main-header.sticky {
    position: fixed;
    z-index: 1000;
    padding-bottom: unset;
    padding-top: 5px;
    width: 100%;
    top: -2%;
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
}

.main-header.sticky {
    background-color: #fff;
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05) !important;
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
}



.navbar {
    /* padding: 0 !important; */
}

.navbar-expand-lg .offcanvas .offcanvas-body {
    justify-content: start !important;
    margin-right: 40px;
}

.navbar-nav li a {
    font-family: var(--primary-font) !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 160% !important;
    color: var(--brand-color) !important;
    text-decoration: none !important;
    text-transform: capitalize;
    transition: all .5s !important;
    color: var(--black-color) !important;
}

.navbar-expand-lg .navbar-nav {
    gap: 10px;
    padding-left: 20px;
}

.navbar-nav li a:hover {
    color: var(--brand-color) !important;
    font-weight: 500 !important;
    overflow-x: hidden !important;
}

.navbar-toggler i {
    color: black;
    font-size: 28px;
}

.offcanvas-header .btn-close {
    border: 1px solid var(--gray-color);
}



/* ====================== header =============================== */
.logoheader {
    width: 99px;
    /* background-color: var(--blue-color); */
}

/* ------ headerBtn----- */
.headerBtn svg {
    width: 15px;
    fill: var(--white-color);
    transform: rotate(-45deg);
}

.headerBtn {
    background-color: var(--brand-color);
    padding: 10px 20px;
    border-radius: 10px;
}

.headerBtn a {
    color: var(--white-color);
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--white-color);
    text-decoration: none;
    border-radius: 10px;
}

.arrowbutton {
    padding-left: 10px;
}

.navbarBtnphone {
    display: none;
}

.offcanvas-header .btn-close {
    color: var(--white-color) !important;
}

/* ============= hover btn css ======== */
.headerBtn {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 2px solid transparent;
    transition: border 0.4s ease;
}

.headerBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    transform: translateX(-50%);
    transition: width 0.4s ease;
}

.headerBtn:hover::before {
    width: 100%;
}

.headerBtn:hover {
    border: 2px solid var(--brand-color);
    cursor: pointer;
}

.headerBtn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
    transition: color 0.4s ease;
}

.headerBtn:hover a {
    color: #000;
}

/* ================ nav  hover =================== */
.nav-link {
    position: relative;
    display: inline-block;
    color: #000;
    text-decoration: none;
    z-index: 1;
    padding-bottom: 0;
    overflow: hidden;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: #000;
    z-index: 0;
}

.nav-link:hover::after {
    animation: underline-sweep 0.6s ease-in-out 2;
    background-color: var(--brand-color);
}

@keyframes underline-sweep {
    0% {
        width: 0;
        left: 0;
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

.footer_wrapper .link_bx ul li a {
    position: relative;
    /* display: inline-block; */
    color: #000;
    text-decoration: none;
    z-index: 1;
    padding-bottom: 3px;
    overflow: hidden;
    transition: color 0.3s ease, font-weight 0.3s ease;

}

.main-contact a:hover {
    color: var(--brand-color) !important;
    font-weight: 500 !important;
}

.main-contact a {
    transition: color 0.3s ease !important;
}

.link_bx ul li a:hover {
    color: var(--brand-color) !important;
    font-weight: 500 !important;
}

.footer_wrapper .link_bx ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: #000;
    z-index: 0;
}

.footer_wrapper .link_bx ul li a:hover::after {
    animation: underline-sweep 0.6s ease-in-out 2;
    background-color: var(--brand-color);
}

@keyframes underline-sweep {
    0% {
        width: 0;
        left: 0;
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

.main-contact a {
    position: relative;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    overflow: hidden;
}

.main-contact a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: #000;
    z-index: 0;
    transition: width 0.3s ease;

}

.main-contact a:hover::after {
    width: 100%;
    background-color: var(--brand-color);

}

@keyframes underline-sweep {
    0% {
        width: 0;
        left: 0;
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

/* ------------------------------ banner section ------------------------ */

.banner-section {
    position: relative;
    width: 100%;
    /* height: 690px;
    overflow: hidden; */
}

.header-carousel .owl-dots,
.header-carousel .owl-nav {
    position: absolute;
    bottom: 40px;
    z-index: 10;
    left: 45%;
}

.header-carousel .owl-dots .owl-dot.active span {
    width: 21px !important;
    height: 21px !important;
    flex-shrink: 0;
    background: var(--white-color) !important;
    padding: 0 !important;
    border-radius: 50px !important;
}

.header-carousel .owl-dots .owl-dot span {
    width: 21px !important;
    height: 21px !important;
    flex-shrink: 0;
    padding: 0 !important;
    border-radius: 50px !important;
    border: 2px solid var(--white-color) !important;
    background: transparent !important;
}

.banner-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar {
    position: relative;
}

.navbar::before {
    content: "";
    background-color: var(--brand-color);
    height: 100%;
    width: 205px;
    position: absolute;
    left: 0;
    z-index: -1;
    border-radius: 0px 56px 0px 0px;
}

.banner-content {
    position: absolute;
    top: 45%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    padding-left: 20px;
    z-index: 12;
}

.banner-content .container {
    text-align: left;
}



.small-text {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 17.64px;
    color: var(--white-color);
}

.description {
    font-size: 16px;
    margin: 10px 0;
}

.banner-content h1 {
    font-family: var(--secondry-color);
    font-weight: 600;
    font-style: SemiBold;
    font-size: 90px;
    line-height: 104px;
    text-align: center;
    color: var(--white-color);
}

.banner-content p {
    font-family: var(--third-font);
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--white-color);
    padding-top: 5px;
    margin: 0 auto;
    max-width: unset;
}

.bannerBtn a {
    display: inline-block;
    padding: 10px 35px;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.3s;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 20.16px;
    text-align: center;
    color: var(--white-color);
    border: 1px solid var(--white-color);
}

.bannerBtn2 {
    padding-top: 20px;
}

.bannerBtn a:hover {
    border: 1px solid var(--white-color);
    background: var(--white-color);
    color: var(--brand-color);
}

.banner-item {
    position: relative;
    overflow: hidden;
}

.banner-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.banner-item img {
    width: 100%;
    height: auto;
    display: block;
}

/* ==================== serach banner box ================== */
.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: auto;
    font-family: 'Segoe UI', sans-serif;
}

.bannercontents2 {
    background: #AEAEAE26;
    padding: 25px;
    border-radius: 15px;
    position: relative;
    top: 30px;
}

.search-option {
    padding: 0 10px;
    flex: 1;
    gap: 10px;
}

.search-option div {
    display: flex;
    gap: 5px;
}

.search-option i {
    color: #0055a5;
    font-size: 18px;
    position: relative;
    top: 8px;
}

.search-option .title {
    color: #363636;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: unset;
}

.search-option .title i {
    font-size: 12px;
    margin-left: 5px;
    color: #555;
    position: relative;
    top: 0px;
}

.search-option .subtitle {
    color: #A1A1A199;
    margin-top: 5px;
    text-align: left;
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
}

.divider {
    width: 1px;
    height: 40px;
    background: #ddd;
}

.explore-btn {
    background-color: #0d3d72;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    margin-left: 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.explore-btn:hover {
    background-color: #072b52;
}

/* Responsive */
@media (max-width: 768px) {
    .search-box {
        flex-direction: column;
        align-items: stretch;
        gap: 15px;
    }

    .divider {
        display: none;
    }

    .explore-btn {
        width: 100%;
    }
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 750px;
    object-fit: fill;
    /* position: relative; */
}

.bannercontents {
    padding: 12px;
    border-radius: 12px;
}

/* ======================== info banner section ================ */

.info-section {
    background-color: #FFFFFF;
    padding: 20px 40px;
    box-shadow: 0px 3px 224px 0px #00000026;
    position: relative;
    bottom: 100px;
    z-index: 99;
    border-radius: 15px;
}

.info-box {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
    flex-wrap: wrap;

}

.info-item {
    flex: 1;
    padding: 20px;
    min-width: 250px;
}

.info-icon {
    font-size: 36px;
    color: #003366;
    margin-bottom: 15px;
}

.info-item h3 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #0D4671;
    margin-bottom: 10px;
}

.info-item p {
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #767681;
}

/* ======================= about section ===================== */

.abouimg {
    animation: bounceUpDown 6s ease-in-out infinite;
    position: relative;
}

@keyframes bounceUpDown {
    0% {
        top: 0;
    }

    15% {
        top: -55px;
    }

    25% {
        top: -55px;
    }

    35% {
        top: -100px;
    }

    50% {
        top: -100px;
    }

    70% {
        top: 0;
    }

    100% {
        top: 0;

    }
}



.shape-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}



.round-img {
    border-radius: 30px;
}

.circle-img {
    /* aspect-ratio: 1 / 1; */
    object-fit: cover;
}

.about-section {
    padding: 60px 0;
    background: #fff;
}

.subtitle {
    color: #113D48;
    font-weight: 500;
    font-family: Moon Dance;
    font-weight: 400;
    font-style: Regular;
    font-size: 28.72px;
    line-height: 28.72px;
}

.title {
    font-family: Manrope;
    font-weight: 700;
    font-size: 42px;
    line-height: 53px;
    color: #113D48;
    margin-bottom: 15px;
}

.description {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 25px;
    color: #6E7070;
    max-width: 430px;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

.feature {
    display: flex;
    gap: 15px;
}

.feature i {
    font-size: 24px;
    color: #fff;
    background-color: var(--brand-color);
    padding: 10px;
    border-radius: 50px;
    width: 45px;
    height: 45px;
}

.feature h4 {
    margin: 0;
    font-family: Manrope;
    font-weight: 600;
    font-size: 17.23px;
    line-height: 24.42px;
}

.feature p {
    margin: 0;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 11.49px;
    line-height: 20.1px;
    color: #666;
    max-width: 200px;
}

.learn-btn {
    background-color: #005b94;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
}

.learn-btn:hover {
    background-color: #004272;
}

.about-person {
    position: absolute;
    bottom: 0;
    right: 0;
}

.person-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.person-bg img {
    max-width: 100%;
    height: auto;
}

/* ================= service section =================== */

.services-section {
    padding: 80px 0;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.services-section::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
    background-image: url(../images/background_service.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.section-subtitle {
    font-style: italic;
    color: #005b94;
    margin-bottom: 10px;
}

.section-title {
    font-size: 32px;
    font-weight: bold;
    color: #111;
}

.section-desc {
    color: #555;
    margin-top: 10px;
}

.service-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
    margin: 20px 0;
    border: solid;
    border-width: 0px 0.25px 0.25px 0.25px;
    border-color: #BCCED2;
}

.service-card:hover .card-img img {
    transform: scale(1.75);
}

.card-img {
    width: 100%;
    height: 282px;
    overflow: hidden;
}

.navbar-nav {
    gap: 10px;
    padding-left: 30px;
}

.card-img img {
    width: 350px;
    height: 100%;
    object-fit: cover;
    transition: all 0.6s ease-in-out;
    overflow: hidden;
}

.card-content {
    padding: 20px;
    text-align: left;
}

.card-content h4 {
    margin-bottom: 5px;
    font-family: Manrope;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #0D0D0C;
}

.card-content p {
    font-family: Inter;
    font-weight: 400;
    font-size: 12.03px;
    line-height: 19.54px;
    margin-bottom: 10px;
    color: #6E7070;
}

.price {
    color: #0D0D0C;
    font-size: 18px;
    margin-bottom: 15px;
    font-family: Inter;
    font-weight: 600;
    font-style: Regular;
    line-height: 18.03px;
}

.price span {
    color: #6E7070;
    font-family: Inter;
    font-weight: 400;
    font-size: 13.53px;
    line-height: 18.03px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #555;
    /* border-top: 1px solid #eee; */
    padding-top: 25px;
}

.card-footer span {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #113D48;
}

.book-btn {
    color: #113D48;
    padding: 6px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.5s ease-in-out;
    border: 0.75px solid #E1E4E5;
    font-weight: 500;
}

.book-btn span i {
    font-size: 12px;
    padding-left: 3px;
    transition: all 0.5s ease-in-out;

}

.book-btn:hover {
    background-color: #004272;
    color: #fff;
}

.book-btn:hover i {
    color: #fff;
}


/* ========================= gallery section ======================= */

.gallery-carousel .gallery-img-container .imgl {
    height: 579px !important;
    border-radius: 233px !important;
    width: 300px;
    margin: 0 auto;
}

.gallery-carousel .gallery-img-container .imgs {
    height: 443px !important;
    border-radius: 233px !important;
    width: 279px;
    margin: 0 auto;
}

.gallery-carousel .owl-stage {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding-bottom: 60px !important;
    gap: 30px;
}

.gallery-hover-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: all 0.4s ease;
    z-index: 2;
}

.gallery-carousel {
    padding: 60px 0px 100px 0px;
}

.gallery p {
    margin-bottom: unset !important;
}

/* ==================== transparent =================== */
.galleryimgani {
    animation: bounceDownUp 4s ease-in-out infinite;
    position: relative;
}

@keyframes bounceDownUp {
    0% {
        top: 0;
    }

    15% {
        top: 55px;
    }

    25% {
        top: 55px;
        /* pause at 55px */
    }

    35% {
        top: 100px;
    }

    50% {
        top: 100px;
    }

    70% {
        top: 0;
    }

    100% {
        top: 0;
    }
}

.airpot .tran1 {
    width: 400px;
    object-fit: cover;
    border-radius: 15px;
    height: 500px;
}

.airpot .tran2 {
    width: 300px;
    object-fit: cover;
    border-radius: 15px;
    height: 450px;
}

.airpot {
    background: #E9F6F9;
    padding: 140px 0;
}

.asec {
    padding-left: 120px;
    justify-content: end;
}

@media (max-width: 767.98px) {
    .row.align-items-center>.col-md-6:first-child {
        justify-content: center;
        flex-wrap: wrap;
    }

    .row.align-items-center img {
        margin-bottom: 15px;
    }

}

/* Move image upward */
@keyframes bounceUpDown {
    0% {
        top: 0;
    }

    15% {
        top: -55px;
    }

    25% {
        top: -55px;
    }

    35% {
        top: -100px;
    }

    50% {
        top: -100px;
    }

    70% {
        top: 0;
    }

    100% {
        top: 0;
    }
}

/* Move image downward */
@keyframes bounceDownUp {
    0% {
        top: 0;
    }

    15% {
        top: 55px;
    }

    25% {
        top: 55px;
    }

    35% {
        top: 100px;
    }

    50% {
        top: 100px;
    }

    70% {
        top: 0;
    }

    100% {
        top: 0;
    }
}

/* Apply animations */
.tran1 {
    animation: bounceUpDown 4s ease-in-out infinite;
    position: relative;
}

.tran2 {
    animation: bounceDownUp 4s ease-in-out infinite;
    position: relative;
}




/* ====================  testimonials section =================== */
/* Wrapper: handles size and overflow clipping */
.testimonial-img {
    width: 100%;
    height: 404px;
    overflow: hidden;
    border-radius: 1rem;
    max-width: 300px;
}

/* Image inside: handles zoom effect */
.testimonial-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
}

/* Hover effect */
.testimonial-img:hover img {
    transform: scale(1.1);
}


.testimonial-section {
    padding: 80px 0;
}


.testimonial-img-lg:hover {
    transform: scale(1.75);

}

.testimonial-img-lgg {
    width: 500px;
    height: 588px;
    overflow: hidden;
    border-radius: 1rem;
    margin: 0 auto;
}

.testimonial-img-lg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

/* Hover effect on image */
.testimonial-img-lgg:hover .testimonial-img-lg {
    transform: scale(1.15);
}

.star-rating span {
    color: #363636 !important;
    font-family: Lato;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-transform: lowercase;
    position: relative;
    bottom: 3px;
}

.star-rating {
    color: #F4B46A;
    font-size: 1.8rem;
    padding-top: 30px;
}

.testimonial-section h6 {
    font-family: Montserrat;
    font-weight: 600 !important;
    font-size: 28px;
    line-height: 36px;
    color: #363636;
}

.miidlecard p {
    max-width: 400px;
    margin: 0 auto;
}

.testimonial-section p {
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #767681;
}



/* ====================== contact section ====================== */

.contact-section {
    position: relative;
    padding: 60px 20px;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0px 4px 0px 0px #00A0B1;
    background: #E9F6F9;
    border-radius: 0px 0px 12px 12px;
}

.highlighttext {
    color: var(--white-color) !important;
    max-width: 560px;
    text-align: right;
    margin-left: auto;
}

.contact-section::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url("../images/Group 1000001021.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 99;
    opacity: 1;
}

.form-container {
    max-width: 1122px;
    margin: auto;
    /* background: #F7FFEB; */
    padding: 50px 100px;
    border-radius: 10px;
    /* box-shadow: 0px 4px 0px 0px #1CA8CB; */
}

.contact-title {
    font-size: 24px;
    color: #3b7d2d;
    font-weight: bold;
}

.contact-subtitle {
    color: #666;
    font-size: 14px;
    margin-bottom: 30px;
}

.contact-form .input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
    padding-top: 30px;
    position: relative;
    z-index: 999;
}

.description2 {
    max-width: 650px !important;
}

.form-field {
    flex: 1;
    position: relative;
}

.form-field input::placeholder,
.form-field textarea::placeholder {
    padding-left: 20px;
}

.form-field input,
.form-field textarea {
    width: 100%;
    padding: 12px 40px 12px 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    background-color: #fff;
    border-bottom: 5px solid #1CA8CB;
    position: relative;
    z-index: 999;
    text-align: left;
}

.form-field textarea {
    resize: vertical;
    min-height: 150px;
}

.form-field .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #1CA8CB;
    z-index: 999;
    margin-right: 20px;
}

.message_icon {
    top: 15% !important;
}

.submit-btn {
    background: linear-gradient(269.77deg, #7BBF44 -1.28%, #3EA345 99.79%);
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s;
    position: relative;
    z-index: 999;
}

.sbtn {
    margin-top: 30px;
}

.submit-btn i {
    margin-left: 8px;
}

.submit-btn:hover {
    background-color: #4ca95d;
}

.headlinesc h1 {

    text-align: right !important;
}

.headlinesc {
    color: var(--brand-green) !important;
    position: relative;
}

/* ::after adds the line image */
.headlinesc::after {
    content: '';
    display: block;
    width: 60%;
    height: 10px;
    background-image: url('../images/contacticon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: 0px;
    position: relative;
}

.green-promo-section .green-box {
    /* background: linear-gradient(269.77deg, #7BBF44 -1.28%, #3EA345 99.79%); */
    border-radius: 12px;
    padding: 40px;
}

.image-promo {
    max-width: 100%;
    border-radius: 10px;
}

.green-promo-section .btn-light {
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 5px;
    color: #3EA345;
}

.makebtn {
    z-index: 999;
}

/* ===================== map section =============== */
.google-map-card {
    background-image: url('../images/map2.jpeg');
    background-size: cover;
    background-position: center;
    height: 800px;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}



.map-overlay {

    background-color: rgba(255, 255, 255, 0.3);
}

.map-logo {
    position: relative;
    animation: floatUpDownPause 4s ease-in-out infinite;
}

@keyframes floatUpDownPause {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(0);
        /* Pause at top */
    }

    50% {
        transform: translateY(50px);
    }

    70% {
        transform: translateY(50px);
        /* Pause at bottom */
    }

    100% {
        transform: translateY(0);
    }
}

.map-logo {
    width: 181px;
    height: auto;
    transition: transform 0.3s ease;
    position: relative;
    top: 84px;
}



/* ================ footer ============================ */


/* Subscribe section */
.subscribe-section {
    background: url('../images/Subscribe_background.png') no-repeat center center/cover;
    padding: 100px 20px;
    text-align: center;
    color: white;
}

.subscribe-section h2 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 50px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 60px;
}

.subscribe-form {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 8px;
}

.subscribe-form input {
    flex: 1;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 16px;
}

.subscribe-form button {
    padding: 15px 25px;
    background: #0D4671;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.mapsection {
    overflow: hidden;
}

/* Footer styling */
.footer {
    background-color: #043b5c;
    color: white;
    padding: 60px 0px 5px 0px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.footer-links ul {
    padding-left: unset !important;
}

.footer-about,
.footer-links,
.footer-social {
    flex: 1 1 200px;
    margin: 15px;
}

.footer-about h3 {
    font-family: 'Georgia', serif;
    font-size: 28px;
    margin-bottom: 10px;
}

.footer-links h4,
.footer-social h4 {
    margin-bottom: 10px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 21px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin: 5px 0;
}

.footer-links ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.9;
}

.footer-social .social-icons span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: white;
    margin-right: 8px;
    border-radius: 4px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #ccc;
    border-top: 1px solid #FFFFFF;
    padding-top: 15px;
}

.flogo img {
    width: 100px;
    padding-bottom: 40px;
}

.social-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: white;
    color: #043b5c;
    margin-right: 8px;
    text-align: center;
    line-height: 35px;
    border-radius: 4px;
    font-size: 16px;
    transition: 0.3s;
}

.social-icons a:hover {
    background: #0077b6;
    color: white;
}

.footer-links ul li a {
    position: relative;
}

.footer-links ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
}

.footer-links ul li a:hover::after {
    width: 100%;
}